# Follow these instructions to set up your venv:
# python3.12 -m venv pc
# source pc/bin/activate
# pip install -r requirements.txt

accelerate==1.13.0
datasets
dspy
google-genai
huggingface-hub==0.36.2
matplotlib
mlflow
numpy
openai
pandas
peft
pyarrow
sentencepiece==0.2.1
tokenizers==0.22.2
torch
transformers==4.57.6
tqdm
hf_transfer
flask
